@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.pattern-1 {
  background-color: #97171d;
  opacity: 0.8;
  background-image: linear-gradient(-45deg, #97171d, #97171d 50%, #9a1b22 50%, #9a1b22);
  background-size: 32px 32px;
}

.pattern-2 {
  background-color: #ffe8db;
  opacity: 0.8;
  background-image: linear-gradient(to right, #ffefe4, #ffefe4 16px, #ffe8db 16px, #ffe8db);
  background-size: 32px 100%;
}

.pattern-3 {
  background-color: #c7d2fe;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #c7d2fe 40px),
    repeating-linear-gradient(#bbc8fc55, #bbc8fc);
}

.pattern-4 {
  background-color: #b0372e;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #b0372e 40px),
    repeating-linear-gradient(#9f202755, #9f2027);
}

.pattern-5 {
  background-color: #b0372e;
}

/* add a double hard shadow to the bottom right to heroButtonCTA */
.tripleCardEffect {
  position: relative;
  box-shadow: 0.2rem 0.3rem 0 0rem #9A1B22, 0.2rem 0.3rem 0 0.1rem rgb(0, 0, 0),
    0.5rem 0.6rem 0 0rem #fde779, 0.5rem 0.6rem 0 0.1rem rgb(0, 0, 0);
  transition: box-shadow 0.25s ease-in-out, top 0.15s ease-in-out,
    left 0.15s ease-in-out;
}

.tripleCardEffect:hover {
  top: 0.3rem;
  left: 0.2rem;
  box-shadow: none;
}

/* TODO: Move to separate component */
.productDetailButton {
  border: 2px solid #000;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 1);
}

.productDetailButton:hover {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
  transform: translateX(3px) translateY(1px);
  transition: all 0.15s ease-in-out;
}


.top-banner {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1024px) {
  .top-banner {
    justify-content: space-between;
  }
}

/* TODO: Move to separate component */
.marquee {
  overflow: hidden;
}

.marquee section {
  display: flex;
  animation: marquee 20s linear infinite;
}

@media screen and (max-width: 768px) {
  .marquee section {
    animation: marquee 10s linear infinite;
  }
}

.marquee section:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.animate-carousel-custom {
  animation: marquee 29s linear infinite;
}