@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.pattern-1 {
  background-color: #97171d;
  opacity: 0.8;
  background-image: linear-gradient(-45deg, #97171d, #97171d 50%, #9a1b22 50%, #9a1b22);
  background-size: 32px 32px;
}

.pattern-2 {
  background-color: #ffe8db;
  opacity: 0.8;
  background-image: linear-gradient(to right, #ffefe4, #ffefe4 16px, #ffe8db 16px, #ffe8db);
  background-size: 32px 100%;
}

.pattern-3 {
  background-color: #c7d2fe;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #c7d2fe 40px),
    repeating-linear-gradient(#bbc8fc55, #bbc8fc);
}

.pattern-4 {
  background-color: #b0372e;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #b0372e 40px),
    repeating-linear-gradient(#9f202755, #9f2027);
}

.pattern-5 {
  background-color: #b0372e;
}

.top-banner {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .top-banner {
    justify-content: space-between;
  }
}
